<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgetPassword-Expense</title>

    <style>
        *
        {
            margin-top: 20px;
           
        }
h1{
    text-align: center;
}
.container
{
    text-align: center;
}
    </style>
</head>
<body>
    <h1>ExpenseTracker</h1>
    <div class="container">
        <form method="post" id="form">

            <label for="email">Enter the email id you want to send the mail to:</label><br>
            <input type="email" name="email" id="mailid" placeholder="Enter the email id"><br><br>

            <button type="submit">Send Email</button>
        </form>
        <div id="message"></div>  
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="../forgotpassword.js"></script>
</body>
</html>